.dg-r{
    display: grid;
    grid-template-columns: 1fr 2.5fr;
    grid-template-rows: auto;
    grid-template-areas: ". .";
};

.gbx-p {
    grid-column: 1/2;
    grid-row: 1/ span all;
}

.gbx-c {
    grid-column: 2/2;
    grid-row: 1/span all;
}

.i-mz{
    max-width: 100%;
    max-height: auto;
}


.df{
    display:flex;
}

.df-fdc{
    flex-direction: column;
}

.df-fdr{
    flex-direction: row;
}

.ai-c{
    align-items: center;
}

.ac-c {
    align-content: center;
}

.ac-fs{
    align-content: flex-start;
}

.br {
    border: solid red;
}

.bp {
    border: dotted purple;
}

.ta-c{
    text-align: center;
}

.m-l{
    margin: 10%;
}

.m-s{
    margin: 3%;
}

.fz-j{
    font-size: 10rem;
}

.fz-l{
    font-size: 3rem;
}

.fz-m{
    font-size: 2rem;
}

.fz-s{
    font-size: 1rem;
}

.fz-xs{
    font-size: .5rem;
}

.ff-u{
    font-family: 'Montserrat', sans-serif;
}

.td-n {
    text-decoration: none;
}

.w-f{
    width: 100%;
}
.p-s {
    padding: 3%;
}

.c-r {
    color:red;
}

.c-g {
    color:green;
}

.c-b {
    color:blue;
}