.dg-r{
    display: grid;
    grid-template-columns: 1fr 2.5fr;
    grid-template-rows: auto;
    grid-template-areas: ". .";
};

.gbx-p {
    grid-column: 1/2;
    grid-row: 1/ span all;
}

.gbx-c {
    grid-column: 2/2;
    grid-row: 1/span all;
}

.i-mz{
    max-width: 100%;
    max-height: auto;
}


.df{
    display:flex;
}

.df-fdc{
    flex-direction: column;
}

.df-fdr{
    flex-direction: row;
}

.ai-c{
    align-items: center;
}

.ac-c {
    align-content: center;
}

.ac-fs{
    align-content: flex-start;
}

.br {
    border: solid red;
}

.bp {
    border: dotted purple;
}

.ta-c{
    text-align: center;
}

.m-l{
    margin: 10%;
}

.m-s{
    margin: 3%;
}

.fz-j{
    font-size: 10rem;
}

.fz-l{
    font-size: 3rem;
}

.fz-m{
    font-size: 2rem;
}

.fz-s{
    font-size: 1rem;
}

.fz-xs{
    font-size: .5rem;
}

.ff-u{
    font-family: 'Montserrat', sans-serif;
}

.td-n {
    text-decoration: none;
}

.br {
    border-radius: calc(1vh + 1vw);
}
    

.bx {
    min-height: calc(20rem + 30vh); /* guarantees a large relative size, then scales with 30% of the view height */
}

.fz-h{
    font-size: calc(1em + 0.5vh + 2.5vw); /* guarantees 1em size minimum, but scales based on 0.5% of the view height and 2.5% of the view width */
}

.fz-g{
    font-size: calc(0.25em + 0.125vh + 0.625vw);
}
















.w-f{
    width: 100%;
}
.p-s {
    padding: 3%;
}

.c-r {
    color:red;
}

.c-g {
    color:green;
}

.c-b {
    color:blue;
}